<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span><img src = "/img/new_logo.svg" style="transform: scale(2.0);" /></span>
        </a>
        <p>
          <strong>Why SF Rhino?</strong> I developed it to improve my functions at Salesforce.
        </p>      
        <p>            
          <strong>SF Rhino:</strong> is designed to aid Salesforce users in Sales and Pre-Sales roles by streamlining RFI and RFP responses, providing intelligence on accounts and annual reports, ensuring awareness of regulations and compliance, offering insights into market trends, and facilitating effortless document retrieval and summarization, among other supportive features.
        </p>

      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>MF Research</h4>
        <p>Project: Rhino</p>
        <p>Learn Gen AI via building it</p>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>FAQ</h4>
        <p>            
          Can anyone use Rhino? Anyone with a Salesforce email can use it.
          </p>
          <p>            
            Why is it sometimes slow? If you're working with huge text, the various foundational models used can sometimes be slow.         
           </p>
      </div>


      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Locality</h4>
        <p>
          Sydney, 2000<br>
          Australia<br><br>
         
                      <br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Rhino</span> 2023</strong>
    </div>
    <div class="credits">
      All Rights Reserved, maybe.
    </div>
  </div>
  <p id="mf_cred" style="text-align: center;padding-top:15px;font-size:10px;">Created by malcolm.fitzgerald@salesforce.com</p>
</footer>