<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="/img//favicon.ico" type="image/x-icon" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container { max-width: 600px; padding-top: 50px; }
        .form-group { margin-bottom: 15px; }
        .btn { width: 100%; }
    </style>
</head>
<body>

<div class="container">
    <div class="text-center mb-4">
        <h1>Set Your Password</h1>
    </div>
    <form action="/set-new-password" method="post">
        <input type="hidden" name="email" value="{{ email }}" required>
        <input type="hidden" name="token" value="{{ token }}" required>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Set your password" required>
        </div>
        <button type="submit" id="setPasswordBtn"  class="btn btn-primary">Set Password</button>
    </form>
</div>


<!-- JavaScript functionality for button disabling -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const setPasswordBtn = document.getElementById('setPasswordBtn');
        const setPasswordForm = document.getElementById('setPasswordForm');

        // Function to disable the button
        function disableButton() {
            setPasswordBtn.disabled = true;
        }

        // On form submit
        setPasswordForm.addEventListener('submit', function(event) {
            disableButton();
        });
    });
</script>

<!-- Include Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
